/* UNIVERSAL */

body {
    font-family: 'Montserrat', sans-serif;
	background-color: #292929;
    overflow-x: hidden;
}

a {
    color: #fff;
}

a:hover {
    color: #ff8200;
}

footer {
    padding: 15px;
    background-image: linear-gradient(to right,  #ff8200, #23bbd2);
}

.name {
    text-decoration: underline;
}

#register {
    min-height: 300px;
    color: #292929 !important;
    background-color: #fff;
}

.register-block {
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    display: block;
}

.nav-link {
    position: absolute;
    color: #404040;
    font-size: 25px;
    margin: 15px;
}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.96);
    box-shadow: 3px 3px 16px 1px rgba(0, 0, 0, 0.3);
}


/* HOME */

.brand {
    font-size: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    text-shadow: 0px 0px 20px;
}

.dates {
    font-size: 20px;
    color: #fff;
}

.no-shadow {
    text-shadow: none !important;
}

.vert-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff !important;
}

.window-height {
    height: 99vh;
    min-height: 500px;
}

.landing-page {
    height: 99vh;
    position: relative;
    display: block;
}

.landing-page-numeral {
    color: rgba(15, 15, 15, 0.75);
    font-size: 500px;
    line-height: 99vh;
    transform: translate(0, 0)
}

#landing-bg {
    position: absolute;
    z-index: -3;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.letterpress-effect {
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
}

#subpage-header {
    box-shadow: 10px 3px 16px 1px rgba(0, 0, 0, 0.4);
}

.header {
    height: 150px !important;
    position: relative;
    display: block;
}

.home-block {
    height: 50vh;
    position: relative;
    display: block;
    overflow: hidden;
}

.home-block:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.info-block-divider {
    border-color: #fff;
}

.register-btn {
    color: #ff8200 !important;
    border-color: #ff8200 !important;
}

.register-txt {
    color: #606060 !important;
}

.alt-btn {
    color: #fff !important;
    background-image: linear-gradient(to right,  #ff8200, #23bbd2) !important;
    border: none !important;
}

.register-btn:hover {
    color: #fff !important;
    background-color: #ff8200 !important;
}

.about-btn:before {
    background-image: url('../assets/img/home/ayres_hall.jpg');
}

.faq-btn:before {
    background-image: url('../assets/img/home/utk_campus.jpg');
}

.contact-btn:before {
    background-image: url('../assets/img/home/football_utk.jpg');
}

.sponsors-btn:before {
    background-image: url('../assets/img/home/utk_bridge.jpeg');
}

@media (max-width: 768px) {
    .shrink-txt {
        font-size: 60px !important;
    }
    
    .landing-page-numeral {
        font-size: 300px !important;
    }
}


/* ABOUT PAGE */

#about {
    height: 100%;
    padding-top: 50px;
    color: #fff;
    background-image: linear-gradient(to right,  #ff8200, #23bbd2);
}

.about-wrapper {
    padding: 100px;
}


/* FAQ PAGE */

#faq {
    padding-top: 50px;
    padding-bottom: 50px;
}

.accordion {
    background-color: black;
}

.card {
    color: #fff;
    background-color: #353535;
}

.question {
    color: #fff;
}

.question:hover {
    color: #ff8200;
    text-decoration: none;
}

.question:active {
    color: #ff8200;
    text-decoration: none;
}


/* CONTACT PAGE */

#contact {
    padding-top: 50px;
    color: #fff;
}

.contact-block {
    height: 125px;
    position: relative;
    display: block;
    overflow: hidden;
}

.insta-bg {
    background-image: linear-gradient(to right,  #ffdc80, #c13584, #5851db);
}

.facebook-bg {
    background-color: #3b5998;
}

.twitter-bg {
    background-color: #1da1f2;
}

.slack-bg {
    background-color: #4a154b;
}


/* SPONSORS PAGE */

#sponsors {
    height: 100%;
    padding-top: 50px;
    color: #fff;
    background-image: linear-gradient(to right,  #ff8200, #23bbd2);
}

.sponsor-logo {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    max-height: 400px;
}

.logo-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}


/* VOLHACKS OFFICAL COLORS */

.orange-text {
    color: #ff8200;
}

.orange-bg {
    background-color: #ff8200 !important;
}

.orange-overlay {
    background-color: rgba(255, 130, 0, 0.8) !important;
}

.blue-text {
    color: #23bbd2;
}

.blue-bg {
    background-color: #23bbd2 !important;
}

.blue-overlay {
    background-color: rgba(35, 187, 210, 0.8) !important;
}